__pycache__/
*.pyc
.vscode/

# Ignore raw audio & large training datasets
data/
*.ogg
*.wav
*.mp3
*.csv

# Ignore heavy PyTorch training checkpoints
*.pt
*.pth

# DO NOT ignore ONNX models, JSON mappings, or web dictionary needed for GitHub Pages
!*.onnx
!*.json
!bird_names_dictionary.csv

# Allow sample audio files for web app testing
!samples/*.mp3